# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Default ignored files
/build/

# Java
*.class

# Gradle
/.gradle/

# Firebase/Firestore temporary files
*.log

# Java crashes
*.hprof

# Local properties that are specific to the current machine
local.properties